* {
  padding: 0;
  margin: 0;
}

.dashboardIcons {
  width: 30px;
  height: 30px;
}

.dashboardLinks,
.dashboardLinks1-container {
  display: flex;
  flex-direction: column;
  float: left;
  width: 15vw;
  height: 100vh;
}

.header-container {
  display: grid;
}

.main-content {
  display: grid;
}
